<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <h3 class="text-center bg-secondary text-white col-3">会員情報編集</h3>
      <%= form_with model: @customer ,url: customers_information_path do |f| %>
      <%= render "public/shared/error_messages", resource: @customer %>
        <table class="table table-sm table-borderless">
         <br>
          <thead>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td width="55"></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= f.label :氏名 %></td>
              <td>(姓)</td>
              <td><%= f.text_field :family_name,class:"form-control col-lg-8"%></td>
              <td> (名)</td>
              <td><%= f.text_field :first_name,class:"form-control col-lg-8" %></td>
            </tr>
            <tr>
              <td><%= f.label :フリガナ %></td>
              <td>(セイ)</td>
              <td><%= f.text_field :kana_family_name,class:"form-control col-lg-8" %></td>
              <td>(メイ)</td>
              <td><%= f.text_field :kana_first_name,class:"form-control col-lg-8" %></td>
            </tr>
            <tr>
              <td><%= f.label :郵便番号 %></td>
              <td></td>
              <td><%= f.text_field :postal_code,class:"form-control col-lg-8" %></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
               <td><%= f.label :住所%></td>
               <td></td>
               <td colspan="4"><%= f.text_field :address , :size=>"100",class:"form-control col-lg-8"  %></td>
               <td></td>
            </tr>
            <tr>
                <td><%= f.label :電話番号 %></td>
                <td></td>
                <td><%= f.text_field :phone_number,class:"form-control col-lg-8"%></td>
                <td></td>
                <td></td>
            </tr>
  　　　    　　<tr>
                <td><%= f.label :メールアドレス %></td>
                <td></td>
                <td><%= f.email_field :email,class:"form-control col-lg-8" %></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><%= f.submit "編集内容を保存" , class: "btn btn-success" %></td>
                <td></td>
                <td><%=link_to '退会する' , customers_unsubscribe_path ,class: "btn btn-danger" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <br></br>
    </div>
  </div>
</div>