<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <h3 class="col-md-3 alert-secondary">会員情報編集</h3>
      <%= form_with model: @customer,url: customers_information_path do |f| %>
        <table class="table table-sm table-borderless">
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :氏名 %></td>
            <td>(姓)</td>
            <td><%= f.text_field :family_name %></td>
            <td> (名)</td>
            <td><%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <td><%= f.label :フリガナ %></td>
            <td>(セイ)</td>
            <td><%= f.text_field :kana_family_name %></td>
            <td>(メイ)</td>
            <td><%= f.text_field :kana_first_name %></td>
          </tr>
          <tr>
            <td><%= f.label :郵便番号 %></td>
            <td></td>
            <td><%= f.text_field :postal_code %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
             <td><%= f.label :住所%></td>
             <td></td>
             <td colspan="4"><%= f.text_field :address , :size=>"80"  %></td>
             <td></td>
          </tr>
          <tr>
              <td><%= f.label :電話番号 %></td>
              <td></td>
              <td><%= f.text_field :phone_number %></td>
              <td></td>
              <td></td>
          </tr>
　　　　　<tr>
              <td><%= f.label :メールアドレス %></td>
              <td></td>
              <td><%= f.email_field :email %></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td><%= f.submit "編集内容を保存" , class: "btn btn-success" %></td>
              <td></td>
              <td><%=link_to '退会する' , customers_unsubscribe_path ,class: "btn btn-danger" %></td>
          </tr>
        </table>
        <% end %>
    </div>
  </div>
</div>