<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <p><span>ようこそ、ながのCAKEへ！</span> <br />
        このサイトは、ケーキ販売のECサイトになります。<br />
        会員でない方も商品の閲覧はできますが、<br />
        購入には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>


<h2>新着商品</h2></br>
  <div class="row">
      <%= render "public/genres/genre_lists", genres: @genres %>
    <% @products.first(4).each do |product| %>
    <div class="row row-cols-4 row-cols-md-1">
      <div class="card-deck" style="width:18rem">
        <div class="card">
          <div class="card-body">
            <%= link_to product_path(product) do %>
              <%= image_tag product.get_image, size:'100x100', class:"card-img-top" %>
            <% end %>
            <h5 class="card-title"><%= product.product_name %></h5>
            <p class="card-text"><%= product.tax_excluded_price.to_s(:delimited) %>円（税抜き）</p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="container text-right">
    <button type="button" class="btn btn-link"><%= link_to "全ての商品をみる", products_path %></button>
  </div>
</div>

