<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="mt-2 p-2 text-center bg-secondary text-white col-md-3">配送先登録/一覧</h4>
      <%= form_with model: @delivery do |f| %>
      <%= render "public/shared/error_messages", resource: @delivery %>
      <table class="table table-sm table-borderless">
        <tr>
          <td><%= f.label :postal_code, '郵便番号（ハイフンなし）' %></td>
          <td><%= f.text_field :postal_code, class:"form-control col-lg-4", :placeholder => "0000000" %></td>
        </tr>
        <tr>
          <td><%= f.label :address, '住所' %></td>
          <td colspan="3"><%= f.text_field :address, class:"form-control", :placeholder =>'東京都渋谷区代々木神園町0－0' %></td>
        </tr>
        <tr>
          <td><%= f.label :name, '宛名' %></td>
          <td><%= f.text_field :name, class:"form-control col-lg-4", :placeholder =>'令和道子' %></td>
          <td><%= f.submit '新規登録', class:"btn btn-success ml-auto" %></td>
        </tr>
      </table>
      <% end %>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @deliveries.each do |delivery| %>
          <tr>
            <td><%= delivery.postal_code %></td>
            <td><%= delivery.address %></td>
            <td><%= delivery.name %></td>
            <td>
              <%= link_to  "編集する", edit_delivery_path(delivery.id), class:"btn btn-sm btn-success" %>
              <%= link_to  "削除する", delivery_path(delivery), method: :delete, class:"btn btn-sm btn-danger", "data-confirm"=>"本当に消しますか？"%>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
