<div class="container">
    <div class="row">
        <div class="col">
            <h1>注文履歴詳細</h1>

            <table class="table">
                <thead>
                   <tr>
                    <td></td>
                    <td></td>
                   </tr>
                </thead>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>購入者</td>
                    <td></td>
                </tr>
                <tr>
                    <td>注文日</td>
                    <td></td>
                </tr>
                <tr>
                    <td>配送先</td>
                    <td></td>
                </tr>
                <tr>
                    <td>支払方法</td>
                    <td></td>
                </tr>
                <tr>
                    <td>注文ステータス</td>
                    <td>
                        <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
                        <%= f.select :order_status, Order.order_statuses.keys, class: "order_status" %>
                        <%= f.submit "更新" , class: "btn btn-outline-success" %>
                        <% end %>
                    </td>
                </tr>
            </table>
            <% @order_products.each do |order_product| %>
            <table>
                <tr>
                    <td>商品名</td>
                    <td>単価(税込)</td>
                    <td>数量</td>
                    <td>小計</td>
                    <td>制作ステータス</td>
                </tr>
                <tr>
                    <td><%= order_product.product.product_name %></td>
                    <td><%= order_product.product.tax_included_price %></td>
                    <td><%= order_product.quantity %></td>
                    <td><%= order_product.subtotal.to_s(:delimited)  %></td>
                    <td>
                        <%= form_with model: order_product, url: admin_order_product_path(order_product.id), method: :patch, local: true do |f| %>
                          <%= f.select :work_status, OrderProduct.work_statuses.keys, class: "work_status" %>
                          <%= f.submit "更新" , class: "btn btn-outline-success" %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
            </table>
        </div>
    </div>
</div>

