<div class="container">
  <h4 class="mt-2 p-2 text-center bg-secondary text-white col-md-3">商品一覧</h4>


  <div class="text-right">
      <%= link_to new_admin_product_path do %>
      <button type="button" class="btn btn-light">+</button>
      <% end %>
  </div>

  <table class= "table table-bordered">
    <thead class="thead-light">
      <th  scope="col" style="width: 5%">商品ID</th>
      <th  scope="col" style="width: 20%">商品名</th>
      <th scope="col" style="width: 5%">税抜価格</th>
      <th scope="col" style="width: 20%">ジャンル</th>
      <th scope="col" style="width: 10%">ステータス</th>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to admin_product_path(product) do %>
        <%= product.product_name %></td>
        <% end %>
        <td><%= product.tax_excluded_price.to_s(:delimited) %></td>
        <td><%= product.genre.genre_name %></td>
        <td>
          <% if product.sales_status == true %>
              <p class="text-success ">販売中</p>
            <% else %>
              <p class="text-secondary ">販売停止中</p>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="text-center">
  <%= paginate @products %>
  </div>
</div>


