<div class="container">
  <div class="row">

      <h3>注文情報入力</h3>


      <div class="payment_method">
        <h4>支払方法</h4><br>
          <input type="radio" value="credit" name="payment_method" id="credit">
          <label style="display: inline-block;" for="credit">クレジットカード</label><br>

          <input type="radio" value="transfer" name="payment_method" id="transfer">
          <label style="display: inline-block;" for="transfer">銀行振込</label>
      </div>

      <div class="delivery">
        <h4>お届け先</h4><br>
          <input type="radio" value="your_adress" name="delivery" id="your_adress">
          <label style="display: inline-block;" for="your_adress">ご自身の住所</label><br>
          <%= "@customer.postal_code" %>
          <%= "@customer.adress" %><br>
          <%= "@customer.name" %><br>

          <input type="radio" value="registered" name="delivery" id="registered">
          <label style="display: inline-block;" for="registered">登録済住所から選択</label><br>
          <%= form_with model:@order, local:true do |f| %>
            <%= "delivery.postal_code" %>
            <%= "delivery.adress" %>
            <%= "delivery.name" %>
          <% end %>

          <input type="radio" value="new_adress" name="delivery" id="new_adress">
          <label style="display: inline-block;" for="new_adress">新しいお届け先</label><br>

          <%= form_with model:@order, local:true do |f| %>
            <div class="form-group">
              <h4>郵便番号</h4>
              <%= f.label :postal_code %>
              <%= f.text_field :postal_code, class: 'form-control order_adress' %>
            </div>
            <div class="form-group">
              <h4>住所</h4>
              <%= f.label :adress %>
              <%= f.text_area :adress, class: 'form-control order_adress' %>
            </div>
            <div class="form-group">
              <h4>宛名</h4>
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control order_adress' %>
            </div>
          <% end %>
      </div>

      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "確認画面へ進む","", class: "btn btn-info btn-block confirm" %>
        </div>
      </div>

  </div>
</div>