<div class="container">
  <div class="row">

    <%= form_with model: @order, url: confirm_orders_path, local:true do |f| %>
      <%= f.radio_button :payment_method, true, checked: true %>
      <%= f.label :payment_method, "クレジットカード" %><br>

      <%= f.radio_button :payment_method, false %>
      <%= f.label :payment_method, "銀行振込" %><br>

      <%= f.select :delivery_id, options_from_collection_for_select(Delivery.all, :id, :address_display) %>

    <% end %>
  </div>
</div>